body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    color: blue;
    padding: 6%;
    height: 10vh;
    background-color: aqua;
}

header img {
    height: 10vh;
    /* margin-top: 10%; */
}

section {
    height: 10vh;
    background-color: chartreuse;
    margin: 4%;
    border-radius: 10px;
    display: flex;
}

section img {
    height: 4vh;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: brown;
    height: 10%;
    width: 100%;
}